<%- include('partials/header-landing') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InkScroll - Explore the Written World</title>
  <link rel="stylesheet" href="/css/landing.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">InkScroll</h1>
    <p class="lead">Explore Endless Horizons: Your Gateway to Inspiring Stories and Knowledge.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>